@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
    background-color: #FF4B4B;
    color: white;
}

.input {
    background-color: white;
    border-color: #e2e8f0;
    border-width: 1px;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}