# Node modules
/node_modules/
# Yarn & npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn lock file (si usas npm no es necesario)
yarn.lock
# Expo
.expo/
.expo-shared/
# Build output
/dist/
/build/
/web-build/

# Android & iOS build folders
/android/
/ios/
